body {
  background-color: rgb(45, 45, 45);
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.square {
  border: 2px solid white;
  width: 90px;
  height: 90px;
  color: white;
  font-size: larger;
  text-align: center;
}